.vercel
.env*.local
.next
requirements.md
tsconfig.tsbuildinfo
playwright

/scripts/
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# clerk configuration (can include secrets)
/.clerk/
